.container {
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    border: 3px solid red;
    align-items: center;
    justify-content: center;
}
.header {
    text-align: center;
    width: 75%;
    margin: auto;
}
