@import "./assets/styles/variables.module.scss";

@font-face {
     font-family: "Poppins";
     src: local("Poppins"), url(../src/assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

body {
     color: $primaryColor;
     font-family: Poppins, serif;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     height: 100%;
}

html {
     height: 100%;
     margin: 0;
}
